*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behaviour: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;

  box-sizing: border-box;

  min-height: 100vh;

  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
a,
p {
  font-family: "Roboto", sans-serif;
}

button,
a {
  cursor: pointer;
}

button {
  padding: 3px 1.5rem;
}

button:hover {
  opacity: 0.9;
}

.title {
  font-size: 2.2rem;
  margin: 1.2rem 0;
}

.container {
  min-width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > * {
  margin: 0.7rem 0;
}

.block {
  border: 1px solid lightgray;
  height: 80px;
  width: 80px;
  background-color: #eeefef;
  cursor: pointer;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-cnt {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.shake {
  animation: shake 0.8s infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(8px);
  }
}
